html, body {
    background: #EEE url(/img/bg1.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: block;
    width: 100%;
    height: 100%;
    background: url(/img/jul.png) 100% 50% no-repeat;
    background-size: contain;
}

/*СОЦ.СЕТИ*/

.socials-sb {
    position: absolute;
    right: 0;
    width: 46px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: #FFF;
}

.socials-sb ul {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
    width: 100%;
    height: 322px;
}

.socials-sb ul li {
    display: block;
    width: 100%;
    height: 46px;
    background: #FFF;
}

.socials-sb ul li a {
    width: 100%;
    height: 100%;
    display: block;
    background: #FFF;
    text-align: center;
    line-height: 43px;
    transition: 0.3s;
}

.vk:hover .fil0 {
    fill: #FFF;
}

.vk:hover {
    background: #4D75A4;
}

.fb:hover .fil0 {
    fill: #FFF;
}

.fb:hover {
    background: #3C5A98;
}

.inst:hover .fil0 {
    fill: #FFF;
}

.inst:hover {
    background: #9E7144;
}

.tw:hover .fil0 {
    fill: #FFF;
}

.tw:hover {
    background: #00ACED;
}

.mail:hover .fil0 {
    fill: #FFF;
}

.mail:hover {
    background: #226EB7;
}

.yt:hover .fil0 {
    fill: #FFF;
}

.yt:hover {
    background: #D63C35;
}

.skype:hover .fil0 {
    fill: #FFF;
}

.skype:hover {
    background: #00AFF0;
}

/*МЕНЮ*/

.menu-sb {
    position: absolute;
    left: 0;
    width: 115px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: none;
}

.menu-sb ul {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
    width: 100%;
    height: 470px;
}

.menu-sb ul li {
    display: block;
    width: 100%;
    height: 94px;
    background: #FFF;
    border-bottom: 1px solid #E6E6E6;
}

.menu-sb ul li a {
    width: 100%;
    height: 100%;
    display: block;
    background: #FFF;
    position: relative;
    text-align: center;
    white-space: nowrap;
    transition: 0.3s;
    font-weight: 300;
    line-height: normal;
    color: #333333;
}

.menu-sb ul li a:hover {
    background: #E6E6E6;
}

.menu-sb ul li .menu_logo_a {
    background: #E6E6E6;
}

.menu-sb ul li a .menu_logo_div {
    font-weight: 500;
    font-size: 11px;
}

.menu-sb ul li a img {
    display: block;
    margin: auto;
    margin-bottom: 8px;
}

.menu-sb ul li a .menu_logo_div img {
    margin-bottom: 0;
}

.centered-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 64px;
}

/*ОСНОВНАЯ ИНФ.*/

.section {
    padding-top: 75px;
}

/*НОВОСТИ ЮЛИАН*/

ul.notices{
    position: relative;
    opacity: 0.8;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    max-width: 600px;
    white-space: nowrap;
    background: #fff;
    overflow: hidden;
    padding: 0 10px;
    border-radius: 20px;
    box-shadow:inset 22px 0 40px -15px #fff;
}
ul.notices:before,
ul.notices:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    border-radius: 5px;
    z-index: 1;
}
ul.notices:before{
    left: 8px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.0) 100%);
}
ul.notices:after{
    right: 8px;
    background: -webkit-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.0) 100%);
    background: -o-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.0) 100%);
    background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.0) 100%);
}
ul.notices li p{
    display: inline-block;
}
ul.notices li:last-child{
    margin-bottom: 0px;
}
ul.notices li h3{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding: 0 15px;
    padding-bottom: 10px;
}
ul.notices li p{
    margin: 0;
    padding: 0;
    color: #666666;
    font-size: 18px;
    line-height:37px;
    font-weight: 300;
}

/*НОВОСТИ ВСЕ*/

.all_news ul.notices li p{
    font-size: 15px;
}

/*ЦЕНТРАЛЬНЫЙ ГРИД*/

.player ul {
    margin: 0 auto;
}

/*1 li*/



/*кнопка старая*/



/*.my-button{*/
    /*border: none;*/
    /*background: #CF0000;*/
    /*color: #fff;*/
    /*width: 186px;*/
    /*height: 24px;*/
    /*border-radius: 5px;*/
    /*font-family: Myriad-Pro-Light-SemiExtended;*/
    /*font-size: 18px;*/
    /*cursor: pointer;*/
    /*-webkit-transition: all 0.15s ease-in-out;*/
    /*-o-transition: all 0.15s ease-in-out;*/
    /*transition: all 0.15s ease-in-out;*/
/*}*/
/*.my-button:hover{*/
    /*color: #000;*/
/*}*/
/*.content .order .my-button{*/
    /*vertical-align: middle;*/
    /*box-shadow: 2px 2px 7px #fff;*/
    /*outline: none;*/
/*}*/
/*.content .order .my-button:hover{*/
    /*background: #fff;*/
    /*color: #000;*/
/*}*/



/*скорость старая*/



/*.open ul.speed{*/
    /*text-align: center;*/
/*}*/
/*.open ul.speed li{*/
    /*list-style: none;*/
    /*display:inline-block;*/
    /*margin-right: 40px;*/
/*}*/
/*.open ul.speed li:last-child{*/
    /*margin-right: 0;*/
/*}*/
/*.open ul.speed li .my-button{*/
    /*background: #3277BC;*/
    /*text-decoration: none;*/
    /*display: block;*/
    /*box-shadow: 1px 1px 4px #fff;*/
    /*outline: none;*/
    /*color: #fff;*/
    /*width: 85px;*/
    /*font-size: 19px;*/
    /*line-height: 24px;*/
/*}*/
/*.open ul.speed li .my-button:hover{*/
    /*background: #fff;*/
    /*color: #000;*/
/*}*/


/*2 li*/

img.play_img {
    height: 310px;
}

/*3 li*/



/*громкость старая*/



.main-content .content .player-line .volume{
    float:right;
    line-height: 24px;
    margin-right: 15px;
}
#volume{
    display: inline-block;
    position: relative;
    width: 100px;
    margin-left: 10px;
    height: 5px;
    border: 1px solid #fff;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
}
#volume .ui-slider-range{
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background: #fff;
    top: 0;
    bottom: 0;
    left: 0;
}
#volume .ui-slider-handle{
    display: none;
}


/*ОРГАНИЗАЦИЯ КОНЦЕНРТОВ ЮЛИАНА СТАРОЕ*/

/*.content-order{*/
    /*text-align: center;*/
    /*margin-top: 30px;*/
    /*margin-bottom: 0px;*/
/*}*/
/*.content-order span,*/
/*.content .order span{*/
    /*margin-left: 5px;*/
/*}*/
/*.content-order a,*/
/*.content .order a{*/
    /*font-family: Myriad-Pro-Light-SemiExtended;*/
    /*color: #fff;*/
    /*font-size: 14px;*/
    /*text-decoration: none;*/
/*}*/
/*.content .order .uk-modal-dialog a{*/
    /*color: inherit;*/
/*}*/
/*.content-order span:before,*/
/*.content .order span:before{*/
    /*content: '';*/
    /*display: inline-block;*/
    /*width: 18px;*/
    /*height: 18px;*/
    /*background: url('/img/phone.svg') no-repeat center;*/
    /*vertical-align: middle;*/
/*}*/
/*.content-order p{*/
    /*margin: 0;*/
    /*padding-top: 2px;*/
    /*color: #000;*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
    /*vertical-align: middle;*/
    /*color:#fff;*/
    /*margin-top: 5px;*/
/*}*/