html, body {
    background: #EEE url(/img/bg1.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: block;
    width: 100%;
    height: 100%;
    background: url(/img/jul.png) 100% 50% no-repeat;
    background-size: contain;
}

/*СОЦ.СЕТИ*/

.socials-sb {
    position: absolute;
    right: 0;
    width: 46px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: #FFF;
}

.socials-sb ul {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
    width: 100%;
    height: 322px;
}

.socials-sb ul li {
    display: block;
    width: 100%;
    height: 46px;
    background: #FFF;
}

.socials-sb ul li a {
    width: 100%;
    height: 100%;
    display: block;
    background: #FFF;
    text-align: center;
    line-height: 43px;
    transition: 0.3s;
}

.vk:hover .fil0 {
    fill: #FFF;
}

.vk:hover {
    background: #4D75A4;
}

.fb:hover .fil0 {
    fill: #FFF;
}

.fb:hover {
    background: #3C5A98;
}

.inst:hover .fil0 {
    fill: #FFF;
}

.inst:hover {
    background: #9E7144;
}

.tw:hover .fil0 {
    fill: #FFF;
}

.tw:hover {
    background: #00ACED;
}

.mail:hover .fil0 {
    fill: #FFF;
}

.mail:hover {
    background: #226EB7;
}

.yt:hover .fil0 {
    fill: #FFF;
}

.yt:hover {
    background: #D63C35;
}

.skype:hover .fil0 {
    fill: #FFF;
}

.skype:hover {
    background: #00AFF0;
}

/*МЕНЮ*/

.menu-sb {
    position: absolute;
    left: 0;
    width: 115px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: none;
}

.menu-sb ul {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
    width: 100%;
    height: 470px;
}

.menu-sb ul li {
    display: block;
    width: 100%;
    height: 94px;
    background: #FFF;
    border-bottom: 1px solid #E6E6E6;
}

.menu-sb ul li a {
    width: 100%;
    height: 100%;
    display: block;
    background: #FFF;
    position: relative;
    text-align: center;
    white-space: nowrap;
    transition: 0.3s;
    font-weight: 300;
    line-height: normal;
    color: #333333;
}

.menu-sb ul li a:hover {
    background: #E6E6E6;
}

.menu-sb ul li .menu_logo_a {
    background: #E6E6E6;
}

.menu-sb ul li a .menu_logo_div {
    font-weight: 500;
    font-size: 11px;
}

.menu-sb ul li a img {
    display: block;
    margin: auto;
    margin-bottom: 8px;
}

.menu-sb ul li a .menu_logo_div img {
    margin-bottom: 0;
}

.centered-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 64px;
}

/*ОСНОВНАЯ ИНФ.*/

.section {
    padding-top: 75px;
}

/*НОВОСТИ ЮЛИАН*/

ul.notices {
    position: relative;
    opacity: 0.8;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    max-width: 600px;
    white-space: nowrap;
    background: #fff;
    overflow: hidden;
    padding: 0 10px;
    border-radius: 20px;
    box-shadow: inset 22px 0 40px -15px #fff;
}

ul.notices:before,
ul.notices:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    border-radius: 5px;
    z-index: 1;
}

ul.notices:before {
    left: 8px;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.0) 100%);
}

ul.notices:after {
    right: 8px;
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.0) 100%);
    background: -o-linear-gradient(right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.0) 100%);
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.0) 100%);
}

ul.notices li p {
    display: inline-block;
}

ul.notices li:last-child {
    margin-bottom: 0px;
}

ul.notices li h3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding: 0 15px;
    padding-bottom: 10px;
}

ul.notices li p {
    margin: 0;
    padding: 0;
    color: #666666;
    font-size: 18px;
    line-height: 37px;
    font-weight: 300;
}

/*НОВОСТИ ВСЕ*/

.all_news ul.notices li p {
    font-size: 15px;
}

/*ЦЕНТРАЛЬНЫЙ ГРИД*/

.player {
    margin: 65px 0;

}

/*1 li*/

.order_speed {
    position: relative;
    top: 38px;
}

/*кнопка старая*/

.ord_button {
    border-radius: 13px;
    background: #cf0000;
    color: #FFFFFF;
    text-shadow: none;
    height: 27px;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 15.5px;
    font-weight: 300;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}


/*скорость старая*/

.order_speed ul.speed li {
    list-style: none;
    display: inline-block;
    margin: 5px;
}

.order_speed ul.speed li .ord_button {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    font-weight: 300;
    background: #FFFFFF;
    text-decoration: none;
    display: block;
    color: #000;
    width: 60px;
    line-height: 25px;
    text-align: center;
}


/*2 li*/

img.play_img {
    max-height: 320px;
}

/*3 li*/

/*громкость старая*/

/*.main-content .content .player-line .volume{*/
/*float:right;*/
/*line-height: 24px;*/
/*margin-right: 15px;*/
/*}*/
/*#volume{*/
/*display: inline-block;*/
/*position: relative;*/
/*width: 100px;*/
/*margin-left: 10px;*/
/*height: 5px;*/
/*border: 1px solid #fff;*/
/*vertical-align: middle;*/
/*cursor: pointer;*/
/*border-radius: 3px;*/
/*}*/
/*#volume .ui-slider-range{*/
/*position: absolute;*/
/*z-index: 1;*/
/*display: block;*/
/*border: 0;*/
/*background: #fff;*/
/*top: 0;*/
/*bottom: 0;*/
/*left: 0;*/
/*}*/
/*#volume .ui-slider-handle{*/
/*display: none;*/
/*}*/

/*ОРГАНИЗАЦИЯ КОНЦЕНРТОВ ЮЛИАНА*/

.concerts {
    margin-top: 20px;
}

.concerts a {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 14px;
    text-decoration: none;
}

.concerts span:before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 18px;
    background: url('/img/phone.svg') no-repeat center;
    background-size: contain;
    vertical-align: middle;
}

/*ОРГАНИЗАЦИЯ КОНЦЕНРТОВ ЮЛИАНА СТАРОЕ*/

/*.concerts{*/
/*text-align: center;*/
/*margin-top: 30px;*/
/*margin-bottom: 0px;*/
/*}*/
/*.concerts span,*/
/*.content .order span{*/
/*margin-left: 5px;*/
/*}*/
/*.concerts a,*/
/*.content .order a{*/
/*font-family: Myriad-Pro-Light-SemiExtended;*/
/*color: #fff;*/
/*font-size: 14px;*/
/*text-decoration: none;*/
/*}*/
/*.content .order .uk-modal-dialog a{*/
/*color: inherit;*/
/*}*/
/*.concerts span:before,*/
/*.content .order span:before{*/
/*content: '';*/
/*display: inline-block;*/
/*width: 18px;*/
/*height: 18px;*/
/*background: url('/img/phone.svg') no-repeat center;*/
/*vertical-align: middle;*/
/*}*/
/*.concerts p{*/
/*margin: 0;*/
/*padding-top: 2px;*/
/*color: #000;*/
/*font-size: 16px;*/
/*font-weight: bold;*/
/*vertical-align: middle;*/
/*color:#fff;*/
/*margin-top: 5px;*/
/*}*/