html, body {
    background: #EEE url(/img/bg1.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: block;
    width: 100%;
    height: 100%;
    background: url(/img/jul.png) 100% 50% no-repeat;
    background-size: contain;
}

.socials-sb {
    position: absolute;
    right: 0;
    width: 46px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: #FFF;
}

.socials-sb ul {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
    width: 100%;
    height: 322px;
}

.socials-sb ul li {
    display: block;
    width: 100%;
    height: 46px;
    background: #FFF;
}

.socials-sb ul li a {
    width: 100%;
    height: 100%;
    display: block;
    background: #FFF;
    text-align: center;
    line-height: 43px;
    transition: 0.3s;
}

.vk:hover .fil0 {
    fill: #FFF;
}

.vk:hover {
    background: #4D75A4;
}

.fb:hover .fil0 {
    fill: #FFF;
}

.fb:hover {
    background: #3C5A98;
}

.inst:hover .fil0 {
    fill: #FFF;
}

.inst:hover {
    background: #9E7144;
}

.tw:hover .fil0 {
    fill: #FFF;
}

.tw:hover {
    background: #00ACED;
}

.mail:hover .fil0 {
    fill: #FFF;
}

.mail:hover {
    background: #226EB7;
}

.yt:hover .fil0 {
    fill: #FFF;
}

.yt:hover {
    background: #D63C35;
}

.skype:hover .fil0 {
    fill: #FFF;
}

.skype:hover {
    background: #00AFF0;
}

.menu-sb {
    position: absolute;
    left: 0;
    width: 115px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: none;
}

.menu-sb ul {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
    width: 100%;
    height: 470px;
}

.menu-sb ul li {
    display: block;
    width: 100%;
    height: 94px;
    background: #FFF;
    border-bottom: 1px solid #E6E6E6;
}

.menu-sb ul li a {
    width: 100%;
    height: 100%;
    display: block;
    background: #FFF;
    position: relative;
    text-align: center;
    white-space: nowrap;
    transition: 0.3s;
    font-weight: 300;
    line-height: normal;
    color: #333333;
}
.menu-sb ul li a:hover {
    background: #E6E6E6;
}
.menu-sb ul li .menu_logo_a {
    background: #E6E6E6;
}
.menu-sb ul li a .menu_logo_div  {
    font-weight: 500;
    font-size: 11px;
}
.menu-sb ul li a img {
    display: block;
    margin: auto;
    margin-bottom: 8px;
}
.menu-sb ul li a .menu_logo_div img {
    margin-bottom: 0;
}
.centered-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 64px;
}